.adminToolsOverview {
	list-style: none;
	margin: 15px 0 5px 0 !important;
	padding: 0;
}

.adminToolsOverview:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

.adminToolsOverview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.adminToolsOverview img {
	margin-right: 5px;
	float: left;
}

.adminToolsOverview li {
	margin: 0 5% 10px 0;
	float: left;	
	min-height: 48px;
}

.adminToolsOverview li ul li {
	margin: 3px 0 3px 0;
	float: none;
	width: auto;
	min-height: 0;
	text-align: center;
}